@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.power nav{
  padding:20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edddec;
  box-shadow: 0 5px 15px rgba(0.06, 0, 0, 0.06);
}
.power nav ul{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.power li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.power li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s ease;
}
.power li a:hover,
.power li a.active{
  color: blueviolet;
}
.power li a.active::after,
.power li a:hover::after
{
  content: "";
  width: 30%;
  height: 2px;
  background: blueviolet;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.logo{
  width: 250px;
  margin-left: 30px;
  margin-top: 0%;
  top: 0;
  display: block;
  bottom: 0;
}
.statement{
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  width: 100%;
  height: 450px;
  color: #5e1662;
  padding-top: 50px;
  box-sizing: border-box;
}
.statement p{
  text-align: justify;
  width: auto;
  padding-right: 100px;
  
  
}
.about{
  background-color: aliceblue;
  padding-bottom: 100px;
}
#letter{
  text-align: right;
  margin-right: 50px;
  font-size: 24px;
  color: #5e1662;
}
.mission{
  margin-left: 50px;
  font-size: 50px;
  color: #5e1662;
  padding: 20px;  
  margin-top: 75px;
}
.missionp{
  align-items: center;
  text-align: justify;
  padding: 25px;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  border-radius: 12px;
  background-color: rgb(179, 144, 196);
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
